:root {
    --font_fut: 'futura-pt', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    --font_eaves: 'rockwell', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    --white_tint: rgba(255, 255, 255, 0.5);
}

body {
    background-color: #FFF;
    background-image: url("/images/background.png");
    background-size: cover;
    color: black;
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
    margin: 0;
}



h1, h2, h3 {
    font-family: var(--font_eaves);
    font-weight: 500;
    text-align: center;
}

h1 {
    font-size: 1.8em;
    margin-top: 50px;
}

h2 {
    font-size: 1.5em;
}

h3 {
    font-size: 1.2em;
}

.postlink {
    display: block;
    text-decoration: underline;
    text-align: center;
    border-radius: 50px;
    width: 150px;
    margin: 10px auto;
    color: black;
    font-size: 1.6em;
}

p {
    font-family: var(--font_fut);
}

.post-link {
    display: block;
    font-family: var(--font_eaves);
    text-decoration: underline;
    text-align: center;
    font-size: 1.5em;
    color: black;
    margin-bottom: 10px;
}

.btn {
    width: 100%;
    max-width: 150px;
    margin: 10px;
    font-family: var(--font_eaves);
    text-transform: uppercase;
    font-size: 1.2em;
    background-color: white;
    padding: 10px;
    text-align: center;
    border: none;
    text-decoration: underline;
}

/** Header **/
nav {
    display: none;
    margin-top: 20px;
    margin: 20px auto 0 auto
}

nav a {
    display: block;
    text-decoration: none;
    margin: 10px;
    font-size: 1.5em;
    color: black;
}

.logo, .logo-text {
    display: block;
    max-width: 150px;
    margin: 0 auto;
}

.logo-text {
    max-width: 200px;
}

a, i:hover {
    cursor: pointer;
}

.hamburger {
    position: absolute;
    top: 5px;
    right: 10px;
    font-size: 50px;
    padding: 10px;
}

.active {
    text-decoration: underline;
}

header {
    padding: 20px;
    border-bottom: 1px solid black;
}



/** MAIN **/

.introduction {
    margin-top: 50px;
    padding: 10px;
    margin: 0 auto;
    width: 100%;
    max-width: 300px;
}

.introduction h1 {
    text-align: center;
}

.home-content {
    display: block;
    width: 100%;
    margin: 0 auto;
    border-radius: 20px;

}

.latest {
    margin: 100px auto 0;
}

.latest-container {
    display: flex;
    flex-direction: column;
}

.slider-nav {
    display: flex;
    justify-content: center;
    margin: 0 0 50px 0;
}

/** MAIN BLOG**/
.blog-content {
    display: flex;
    flex-direction: column;
}

.blog-container {
    width: 300px;
    margin: 50px auto 0px;
}

.blog-container p {
    margin: 10px;
}
.blogposts-image {
    display: block;
    max-width: 300px;
    margin: 0 auto;
}

/** MAIN BLOG SPECIFIC**/

.post-container {
    max-width: 300px;
    margin: 0 auto;
}

.blog-specific {
    display: flex;
    flex-direction: column;
}

/** MAIN ABOUT **/
.about-profile {
    max-width: 200px;
    display: block;
    margin: 0 auto;
}

.about-text {
    max-width: 400px;
    margin: 20px auto;
    padding: 20px;
}

footer {
    margin: 0 auto;
}

@media (min-width: 1024px) {

    .hamburger {
        display: none;
    }

    body {
        background-size: contain;
    }

    nav {
        display: flex;
        justify-content: center;
        gap: 100px;
    }

    .introduction {
        display: flex;
        max-width: 1000px;
        justify-content: space-evenly;
    }

    .introduction p {
        max-width: 480px;
    }

    .home-content {
        max-width: 480px;
    }

    .latest-container {
        flex-direction: row;
        max-width: 1500px;
        margin: 0 auto;
        padding: 10px
    }

    .latest-posts {
        padding: 30px;
        width: 100%;
        max-width: 400px;
        border: none;
        margin-top: 0px;
    }

    /** MAIN BLOG ***/

    .blog-content {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr);
        width: 100%;
        max-width: 1000px;
        min-width: 0;
        margin: auto;
        margin-top: 50px;
        gap: 50px;
    }

    /** MAIN BLOG SPECIFIC**/

    .post-container {
        max-width: 1000px;

    }




}